<!-- Entire House File (no Autoships) Panel -->
<div id="house-file-no-autoships-panel" class="row" style="display: none">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Entire House File (no Autoships)</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Excludes Autoship customers with email</li>
        <li>Excludes people on the most recent do-not-email file</li>
      </ul>
    </div>
  </div>
</div>
<!-- /.col-md-12 -->

<!-- Actions -->
<div class="actions">
  <form action="{{ url_for('create_list_reengagement') }}" method=post>
    <input type="hidden" name="list_type_id" value="3">
    <button type="submit" class="btn btn-default generate">Generate List</button>
  </form>
</div>
<!-- /Actions -->

</div>
<!-- / Entire House File (no Autoships) Panel -->