<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Email List Pull Application">
<meta name="author" content="Mark A. Richman">
<title>Email List Pull Application</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
<![endif]-->
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container theme-showcase">

  <!-- Flash Message -->
  {% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
  {% endfor %}
  <!-- / Flash Message -->

  {% include "partials/house-file-incl-autoship.html" %}

  {% include "partials/house-file-no-autoships.html" %}

  {% include "partials/re-engagement-file.html" %}

  {% include "partials/autoship-customers-only.html" %}

  {% with categories=categories, products=products %}
    {% include "partials/cat-x-sell.html" %}
  {% endwith %}

  {% include "partials/by-products-purchased.html" %}

  <div id="domMessage" style="display:none;">
    <img src="{{ url_for('static', filename='img/spinner.gif') }}" alt="spinner">
    <span>We are processing your request. Please be patient.</span>
  </div>

  <div id="send-to-ev-msg" style="display:none;">
    <img src="{{ url_for('static', filename='img/spinner.gif') }}" alt="spinner">
    <span>Sending your job to SmartFocus. Please be patient.</span>
  </div>

  <!-- Job Status -->
  <div id="jobs" class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Job Status</h3>
        </div>
        <div class="panel-body">
          {% block jobs %}{% endblock %}
        </div>
      </div>
    </div>
   </div>

  <div id="badges">
    <a href="http://www.python.org" target="_blank">
      <img src="http://www.python.org/community/logos/python-powered-w-100x40.png" alt="python powered" title="Python is a programming language that lets you work more quickly and integrate your systems more effectively. You can learn to use Python and see almost immediate gains in productivity and lower maintenance costs.">
    </a>

    <a href="http://flask.pocoo.org/" target="_blank">
      <img src="http://flask.pocoo.org/static/badges/made-with-flask-s.png" alt="made with Flask" title="Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.">
    </a>

    <a href="http://www.w3.org/html/logo/" target="_blank">
      <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-performance-semantics.png" width="115" height="32" alt="HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics" title="HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics">
    </a>
  </div>

</div>
<!-- /.container -->

{% block body %}{% endblock %}

</body>
</html>
