body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

div.actions {
    margin: 0 0 20px 16px;
}

#domMessage, #send-to-ev-msg {
    padding: 10px 0 10px 0;
}

#domMessage, #send-to-ev-msg img {
    margin-right: 10px;
}

#badges a {
    text-decoration: none;
    margin-right: 10px;
}