<!-- Category Cross Sell Panel -->
<form action="{{ url_for('create_list_cat_x_sell') }}" method="post">
  <div id="cat-x-sell-panel" class="row" style="display: none">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Category Cross-Sell Emails</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Has the customer ordered in last 48 hours?  [If yes they qualify]</li>
            <li>What is the product they ordered?</li>
            <li>Based on the product they ordered, to what category does it
            apply (e.g., Digestive Health, Heart Health, Joint & Muscle
            Health, Energy Health)?</li>
            <li>Include customers who have ordered autoship as we are
            identifying what category they belong to for cross-sell</li>
            <li>Emails are sent to SmartFocus by Category Buckets.</li>
          </ul>
          <hr>
          <div style="margin-top: 10px;float:left">
            <p>
              Category to Select:
            </p>
            <select id="category-list" name="category" size="28">
              {% for c in categories %}
                <option value="{{ c.id }}">{{ c.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div style="margin: 80px 10px 0 10px;float:left;height: 200px">
            <p>
              <strong>AND NOT</strong>
            </p>
          </div>
          <div style="margin-top: 10px;float:left">
            <p>
              Product Emails to Suppress from Category:
            </p>
            <select id="product-list" name="products" multiple="multiple" size="28">
              {% for p in products %}
                <option value="{{ p.id }}">{{ p.sku }} - {{ p.name }}</option>
              {% endfor %}
            </select>
            <p class="text-muted" style="display:block;clear:both;margin-top:10px">
              To select multiple products: CTRL+Click (Windows), &#8984;+Click (Mac)
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-12 -->

    <!-- Actions -->
    <div class="actions">
        <input type="hidden" name="list_type_id" value="5">
        <button type="submit" class="btn btn-default generate">Generate List</button>
        <input type="checkbox" name="include_prev_list" value="{{ true }}">&nbsp;Include previous list in results
    </div>
    <!-- /Actions -->

  </div>
</form>
<!-- /Category Cross Sell Panel -->