<!-- Re-engagement File Panel -->
<div id="re-engagement-file-panel" class="row" style="display: none">
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Re-engagement File (Non-Autoship Customers idle > 120 days)</h3>
    </div>
    <div class="panel-body">
      <span class="instruction">Apply the following ruleset:</span>
      <ul>
        <li>Has the customer not ordered anything 120-days or more and has an
        Email?  [If yes, they qualify for re-engagement]</li>
        <li>What product did this customer order last?  [This customer gets
        segmented into Re-Engagement Email bucket and sub-segmented by last
        product purchased</li>
      </ul>
    </div>
  </div>
</div>
<!-- /.col-md-12 -->

<!-- Actions -->
<div class="actions">
  <form action="{{ url_for('create_list_reengagement') }}" method=post>
    <input type="hidden" name="list_type_id" value="3">
    <button type="submit" class="btn btn-default generate">Generate List</button>
    <!--<input type="checkbox" name="include_prev_list" value="{{ true }}">&nbsp;Include previous list in results-->
  </form>
</div>
<!-- /Actions -->

</div>
<!-- / Re-engagement File Panel -->