{% extends "layout.html" %}
{% block job_status %}
  <table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th># Records</th>
        <th>Status</th>
        <th>Date/Time</th>
        <th>Actions</th>
    </tr>
    {% for job in jobs %}
    <tr class="warning">
        <td>{{ job.id }}</td>
        <td>Entire House File</td>
        <td>76,423</td>
        <td>Pending</td>
        <td>10/4/2013 14:04:30 UTC</td>
        <td>
            <a class="btn btn-primary btn-xs" href="/csv/{{ job.id }}">
            Download CSV
            </a>
            <a class="btn btn-primary btn-xs" href="/send/{{ job.id }}">
            Send to EmailVision
            </a>
        </td>
    </tr>
    {% else %}
    <tr class="danger">
        <td colspan="6">No records found</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}